/* Add CSS Styling */
.click-yes, .click-no {
  font-family: Helvetica, "Times New Roman", sans-serif;
  font-size: 28px;
}

.click-yes {
  background-color: black;
  color: white;
}

.click-no {
  background-color: yellow;
}
